<section id="section1" class="cd-section">

  <div class="parallax1">
    <div class="overlay">
        <div class="container">
          <div class="row">

           <div class="col-md-12">

               <div id="pricing-table">
                   <div class="plan col-md-4">

                       <h2>ABOUT</h2>

                     <p>ipsum ipsum ipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsum</p>
                   </div>
                   <div class="plan col-md-4 box-img" id="center-card">
                       <h1 class="name-title"> TALON HUGHES </h1>
               <img src="images/profile-img.jpg" alt="" />
                   </div>
                   <div class="plan col-md-4">

                       <p>ipsum ipsum ipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsum</p>
                   </div>
               </div>
          </div>
      </div>
    </div>
   </div>
   </div>


   <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="box-content">
              <h1>Recent Projects</h1>
              <div class="col-md-4">
                  <div class="box-img">
                      <img src="images/brain2.png" alt="" />
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-img">
                      <img src="images/brain2.png" alt="" />
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-img">
                      <img src="images/brain2.png" alt="" />
                  </div>
               </div>
          </div>
       </div>
     </div>
   </div>
</section><!-- cd-section -->
