<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>Talon Hughes | Portfolio</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
<link rel="stylesheet" href="../css/devicons.css">


    <link href="../css/minislide/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="../css/owl_carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="../css/owl_carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<section id="closepage">
    <div class="container">
          <div class="row">
           <div class="col-md-12 content-close-details">
               <a href="../index.html#/portfolio" class="close-redirect"><i class="fa fa-times"></i>Close</a>

             </div>
          </div>
    </div>
</section>
 <section id="details" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">                <div class="slider">
                        <div id="slider" class="flexslider .flexslider-attachments">
                            <ul class="slides">
                                <li data-thumb="">
                                   <img src="../images/portfolio/modalslider/hungryHarvestCloneSlide.png" alt=""/>
                               </li>
  	    	                    <li data-thumb="">
                                   <img src="../images/portfolio/modalslider/hungryHarvestCloneSlide2.png" alt=""/>
                                </li>
  	    	                    <li data-thumb="">
                                   <img src="../images/portfolio/modalslider/hungryHarvestCloneSlide3.png" alt=""/>
                                </li>
                            </ul>
                        </div>
                 </div>
            </div>
         </div>
      </div>
  </section>

 <section id="project" class="cd-section">
    <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> DESCRIPTION </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>Project Description</h2>
                        <p>This is a clone/remake of the Hungry Harvest website. It was my first AngularJS full-stack application. The site allows users to choose from a variety of vegtable packages, and place a dummy order. All data is stored on a Postgres DB.</p>
                        <p>See it on <a class="project-desc-icon" href="https://github.com/t-hughes/hungry-harvest-clone" target="_blank"><i class="devicons devicons-github_badge"></i></a></p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Challenges</h2>
                        <p>Being one of my first full-stack projects, this project was overall challenging and pushed me to my limits. The biggest takeaway from this project was learning how to connect both the front-end and back-end.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>SKILLS USED</h2>
                        <ul class="list-inline text-center">
                            <li><i class="devicons devicons-html5 project-dev-icon"></i></li>
                            <li><i class="devicons devicons-css3 project-dev-icon"></i></li>
                            <li><i class="devicons devicons-javascript project-dev-icon"></i></li>
                            <li><i class="devicons devicons-angular project-dev-icon"></i></li>
                        </ul>
          <ul class="list-inline text-center">
<li><i class="devicons devicons-postgresql project-dev-icon"></i></li>
<li><i class="devicons devicons-nodejs_small project-dev-icon"></i></li>
<li><img class="project-icon-express" src="https://github.com/AliasIO/Wappalyzer/blob/master/src/icons/Express.png?raw=true" /></li>
</ul>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
 </section>

 <section id="section6" class="cd-section">
   <div class="container">
       <div class="row">
        <div class="col-md-12">
            <footer class="box-content">
             <div class="footer-logo"><img src="../images/TH.svg" alt="" /></div>
             <div class="footer-social">
                 <a href="https://www.facebook.com/talon.j.hughes" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                 <a href="https://twitter.com/TalonHughes89" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                 <a href="https://www.linkedin.com/in/talonhughes" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
             </div>
             <div class="footer-brand">Made in Utah <img class="mnt-logo" src="../images/mntlogo-portfolio.svg" alt="" /> by Talon Hughes</div>
         </footer>
       </div>
      </div>
   </div>
 </section>
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/minislide/jquery.flexslider.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: ""

        });
    });
</script>

<script src="../js/owl_carousel/owl.carousel.js" type="text/javascript"></script>

<script type="text/javascript">
    /********************************************
    CAROUSEL DETAIL
    ********************************************/
    $("#owl-demo-details").owlCarousel({

        autoPlay: 3000, //Set AutoPlay to 3 seconds

        items: 4,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [979, 3]

    });
</script>

<script type="text/javascript">
    /********************************************
    CLOSE PAGE DETAIL
    ********************************************/
    $(document).ready(function () {
        $(".close-redirect").on("click", function (event) {
            event.preventDefault();
            linkLocation = this.href;
            $("body").fadeOut(1000, redirectPage);
        });
        function redirectPage() {
            window.location = linkLocation;
        }
    });
   </script>
   <script>
       /*-------------------------------------------------*/
       /* = preload animate
       /*-------------------------------------------------*/

       try {
           var timer;
           window.clearTimeout(timer);
           timer = setTimeout(function () { $("#loader-wrapper").slideUp() }, 2000);
       } catch (err) {
       }
   </script>
</body>
</html>
