<section class="section" id="landing">
    <div class="landing-nav">
        <a href="#/about" class="nav-link about" id="about-link"><span>ABOUT</span></a>
        <a href="#/portfolio" class="nav-link projects"><span>MY WORK</span></a>
        <a href="#/skills" class="nav-link skills"><span>SKILLS</span></a>
        <a href="#/contact" class="nav-link contact"><span>CONTACT</span></a>
    </div>
    <div class="title-card">
        <div class="titles">
            <div class="title">TALON HUGHES</div>
            <div class="sub-title">WEB DEVELOPER | UTAH</div>
        </div>
    </div>
</section>
<!-- /END LANDING SECTION -->