
<!--SECTION WORK-->

<section id="section2" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="box-content">

                <h1>Current Projects</h1>
                <!-- THIS IS COMMENTED OUT UNTIL A NEW PROJECT IS ADDED -->
                <!-- Macbook Mocks -->
                <!-- <div class="row fullstack-project">

	<div class="col-sm-5">

		<h2 class="text-center">Hungry Harvest - Ecommerce Clone</h2>

		<p>This is a clone/remake of the Hungry Harvest website. It was my first AngularJS full-stack application. The site allows users to choose from a variety of vegtable packages, and place a dummy order. All data is stored on a Postgres DB.</p>

		<p>
			<a href="http://project2.talonhughes.com/#/home" target="_blank">See it in Action</a>
		</p>

	</div>

	<div class="col-sm-6 col-sm-offset-1">
		<div class="device-mockup" data-device="macbook_2015" data-orientation="landscape" data-color="silver">
			<div class="device">
				<div class="screen">
					<div class="con">
						<img src="images/portfolio/hungryHarvestClone_img.png" class="imageOne"/>
						<div class="coverImage"></div>
						<div class="handle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


                <div class="row fullstack-project">

                    <div class="col-sm-6 col-sm-push-6">

                        <h2 class="text-center">Santa Letters - Personalized Letters From Santa</h2>
                        <h4>In Progress</h4>

                        <p>I am in the process of building Santa Letters for a family friend. He started a personalized Santa Letter business a few years back and has been in need of a website to scale his business. I took on the challenge and we are currently
                            collaborating to bring users the best personalized Santa Letter expirience.</p>

                        <p class="current-project">
                            <a class="current-project-link" href="http://project1.talonhughes.com/#/home" target="_blank">See it in Action</a> <span></span>
                        </p>

                    </div>

                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="device-mockup" data-device="macbook_2015" data-orientation="landscape" data-color="silver">
                            <div class="device">
                                <div class="screen">
                                    <div class="con">
                                        <img src="images/portfolio/scLettersPage.png" class="imageOne" />
                                        <div class="coverImage2"></div>
                                        <div class="handle2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Macbook Mock End -->

                <!-- Category Filter -->
                <h1 class="project-title">PORTFOLIO</h1>
                <dl class="group">
                    <dt></dt>
                    <dd>
                        <ul class="filter group albumFilter">
                            <li class="cl-effect-11 current"><a data-hover="ALL" ng-click="myFilter = null" class="active" href="">ALL</a></li>
                            <li class="cl-effect-11"><a data-hover="WEB" ng-click="myFilter = {category: 'web'}" href="">WEB</a></li>
                            <li class="cl-effect-11"><a data-hover="UI" ng-click="myFilter = {category: 'ui'}" href="">UI</a></li>
                        </ul>
                    </dd>
                </dl>
                <div class="portfolio albumContainer activegrid" ng-controller="ModalCtrl">

                    <ul id="product" class="nav-pills nav-stacked rectangle-list" ng-controller="ModalCtrl">
                        <li class="col-md-4 my-gallery-animation item grid" ng-repeat="product in modal | filter:myFilter">
                            <figure class="effect-oscar">
                                <a href=""><img ng-src="images/portfolio/{{product.src}}" alt="" /></a>
                                <figcaption>
                                    <p>{{product.description}}</p>
                                    <a href="partials/{{product.url_details}}" class="smooth-redirect"></a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>

                </div>
            </div>
            <!--close box content-->
        </div>
    </div>

    <div class="parallax2">
        <div class="overlay-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="linkedin-title">Word on the street</h1>

                        <div id="owl-demo" class="owl-carousel owl-theme">

                            <div class="item">
                                <div class="carousel-desc">
                                    <span class=" icon-anchor"></span>
                                    <blockquote>"Talon exemplifies everything one would want in a great developer: a relentless pursuit of knowledge, a work ethic solid as granite, and a temperament that meshes with anyone. Talon has always worked diligently on every
                                        assigned task and gone above and beyond, going the extra mile with every project. I would not hesitate to recommend him to any position for which he qualifies."</blockquote>
                                    <p class="nm-name">- Gunnar Gabrielson</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-desc">
                                    <span class=" icon-anchor"></span>
                                    <blockquote>"I attended the DevMountain After-Hours Cohort with Talon and he was one of the most dedicated and hardest working students in the class. I always saw him there before I showed up and he stayed way after I left. The
                                        proof of his talent is in his work, his sample websites are stunning and perfectly designed. He has a good attitude and is always willing to help or give advice. Hire him!"</blockquote>
                                    <p class="nm-name">- Eric Anderson</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-desc">
                                    <span class=" icon-anchor"></span>
                                    <blockquote>"Talon is an intelligent developer with a hunger to continually learn more and improve himself. He understands the needed attention to detail required to take a project from an idea to completion. Talon takes his time
                                        to make sure that his work is pixel perfect and that the project is perfect. I highly recommend Talon to any employer or team without any reservation."</blockquote>
                                    <p class="nm-name">- Alexander Porter</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cd-section -->


<script>
    /********************************************
            CAROUSEL
            ********************************************/
    $("#owl-demo").owlCarousel({

        navigation: true, // Show next and prev buttons
        slideSpeed: 300,
        paginationSpeed: 400,
        singleItem: true

        // "singleItem:true" is a shortcut for:
        // items : 1,
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false

    });
</script>
<script>
    $('.albumFilter li').on("click", function() {
        $('.albumFilter .current').removeClass('current');
        $(this).addClass('current');
    });
</script>

<script type="text/javascript">
    /********************************************
            CLOSE PAGE DETAIL
            ********************************************/
    //        $(document).ready(function () {
    $(".smooth-redirect").on("click", function(event) {
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(1000, redirectPage);
    });

    function redirectPage() {
        window.location = linkLocation;
    }
    //        });
</script>