    <section id="section6" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">            <footer class="footer-wrapper">
			    <div class="footer-logo col-md-4"><a href="/"><img src="images/TH.svg" alt="" /></a></div>
                <div class="footer-social">
                    <a href="https://www.facebook.com/talon.j.hughes" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/TalonHughes89" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/talonhughes" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="footer-brand">Made in Utah <img class="mnt-logo" src="images/mntlogo-portfolio.svg" alt="" /> by Talon Hughes</div>

                <div class="copyright-footer">© 2017 Talon Hughes</div>
		    </footer>
          </div>
         </div>
      </div>
    </section>
